In [1]:
# Importing Libraries
import selenium
import pandas as pd
import time as T

# Importing selenium webdriver 
from selenium import webdriver

# Importing required Exceptions which needs to handled
from selenium.common.exceptions import NoSuchElementException

In [2]:
#first connecting to the webdriver
driver=webdriver.Chrome("chromedriver.exe")
url=('https://www.wikipedia.org/')
driver.get(url)
T.sleep(3)
#searching the element in the webpage
search_box=driver.find_element_by_id("searchInput")
search_box.send_keys("most viewed videos on YouTube")
search_btn=driver.find_element_by_xpath("//button[@type='submit']")
search_btn.click()

In [3]:
Name=[]
Rank=[]
Artist=[]
Upload_date=[]
Views=[]
#extracting the table
table=driver.find_element_by_xpath("//div[@class='mw-parser-output']/table[3]")
#creating variables for xpath location
before_XPath = "//*[@class='mw-parser-output']/table[3]/tbody/tr["            #xpath to access every rows
aftertd_XPath_1 = "]/td[1]"                                                   #xpath to access column1                                                  
aftertd_XPath_2 = "]/td[2]"                                                   #xpath to access column2
aftertd_XPath_3 = "]/td[3]"                                                   #xpath to access column3
aftertd_XPath_4 = "]/td[4]"                                                   #xpath to access column4
aftertd_XPath_5 = "]/td[5]"                                                   #xpath to access column5
rows = len(driver.find_elements_by_xpath("//*[@class='mw-parser-output']/table[3]/tbody/tr"))
columns = len(driver.find_elements_by_xpath("//*[@class='mw-parser-output']/table[3]/tbody/tr[1]/td"))
print(rows," ", columns)

30   6

In [4]:
#extracting the details for rank
for row in range (1,(rows+1)):
    FinalXPath = before_XPath + str(row) + aftertd_XPath_1
    column_1=driver.find_element_by_xpath(FinalXPath).text
    Rank.append(column_1)

#extracting the details for name
for row in range (1,(rows+1)):
    FinalXPath = before_XPath + str(row) + aftertd_XPath_2
    column_2=driver.find_element_by_xpath(FinalXPath).text
    Name.append(column_2.split('"')[1])

#extracting the details for artists
for row in range (1,(rows+1)):
    FinalXPath = before_XPath + str(row) + aftertd_XPath_3
    column_3=driver.find_element_by_xpath(FinalXPath).text
    Artist.append(column_3)

#extracting the details for views
for row in range (1,(rows+1)):
    FinalXPath = before_XPath + str(row) + aftertd_XPath_4
    column_4=driver.find_element_by_xpath(FinalXPath).text
    Views.append(column_4)

#extracting the details for upload date
for row in range (1,(rows+1)):
    FinalXPath = before_XPath + str(row) + aftertd_XPath_5
    column_5=driver.find_element_by_xpath(FinalXPath).text
    Upload_date.append(column_5)

In [5]:
driver.close()
#creating a dataframe
most_viewed=pd.DataFrame()
most_viewed['Rank']=Rank
most_viewed['Name']=Name
most_viewed['Artist']=Artist
most_viewed['Views']=Views
most_viewed['Upload_date']=Upload_date
most_viewed

,Rank,Name,Artist,Views,Upload_date
0,1.,Baby Shark Dance,Pinkfong Kids' Songs & Stories,8.09,"June 17, 2016"
1,2.,Despacito,Luis Fonsi,7.24,"January 12, 2017"
2,3.,Shape of You,Ed Sheeran,5.21,"January 30, 2017"
3,4.,See You Again,Wiz Khalifa,4.99,"April 6, 2015"
4,5.,Johny Johny Yes Papa,LooLoo Kids,4.90,"October 8, 2016"
5,6.,Masha and the Bear – Recipe for Disaster,Get Movies,4.42,"January 31, 2012"
6,7.,Uptown Funk,Mark Ronson,4.11,"November 19, 2014"
7,8.,Gangnam Style,Psy,4.00,"July 15, 2012"
8,9.,Learning Colors – Colorful Eggs on a Farm,Miroshka TV,3.74,"February 27, 2018"
9,10.,Bath Song,Cocomelon – Nursery Rhymes,3.74,"May 2, 2018"
10,11.,Phonics Song with Two Words,ChuChu TV,3.60,"March 6, 2014"
11,12.,Sorry,Justin Bieber,3.41,"October 22, 2015"
12,13.,Sugar,Maroon 5,3.41,"January 14, 2015"
13,14.,Roar,Katy Perry,3.29,"September 5, 2013"
14,15.,Counting Stars,OneRepublic,3.21,"May 31, 2013"
15,16.,Thinking Out Loud,Ed Sheeran,3.20,"October 7, 2014"
16,17.,Dame Tu Cosita,El Chombo,3.15,"April 5, 2018"
17,18.,Shake It Off,Taylor Swift,3.03,"August 18, 2014"
18,19.,Faded,Alan Walker,3.00,"December 3, 2015"
19,20.,Dark Horse,Katy Perry,2.99,"February 20, 2014"
20,21.,Lean On,Major Lazer Official,2.99,"March 22, 2015"
21,22.,Bailando,Enrique Iglesias,2.98,"April 11, 2014"
22,23.,Girls Like You,Maroon 5,2.97,"May 31, 2018"
23,24.,Let Her Go,Passenger,2.93,"July 25, 2012"
24,25.,Mi Gente,J Balvin,2.88,"June 29, 2017"
25,26.,Hello,Adele,2.80,"October 22, 2015"
26,27.,Perfect,Ed Sheeran,2.76,"November 9, 2017"
27,28.,Waka Waka (This Time for Africa),Shakira,2.76,"June 4, 2010"
28,29.,Blank Space,Taylor Swift,2.73,"November 10, 2014"
29,30.,Chantaje,Shakira,2.63,"November 18, 2016"

### 2. Scrape the details team India’s international fixtures from bcci.tv.

In [9]:
#first connecting to the webdriver
driver=webdriver.Chrome("chromedriver.exe")
url=('https://www.bcci.tv/')
driver.get(url)
T.sleep(2)
#going to the fixture page
drop_down=driver.find_element_by_xpath("//ul[@class='navigation__list showMoreEnabled']/li[1]/div[2]")
drop_down.click()
fixture_page=driver.find_element_by_xpath("//div[@class='drop-down__options']/ul[1]/li[1]")
fixture_page.click()

In [10]:
#creating empty lists
Match_title=[]
Series=[]
Place=[]
Date=[]
Time=[]

# extracting title
title=driver.find_elements_by_xpath("//strong[@class='fixture__name fixture__name--with-margin']")
for i in title:
    Match_title.append(i.text)

#extracting series
series=driver.find_elements_by_xpath("//span[@class='u-unskewed-text fixture__tournament-label u-truncated']")
for i in series:
    Series.append(i.text)

#extracting place
place=driver.find_elements_by_xpath("//p[@class='fixture__additional-info']/span")
for i in place:
    Place.append(i.text)

#extracting date
date=driver.find_elements_by_xpath("//div[@class='fixture__datetime desktop-only']")
s=[]
for i in date:
    s.append(i.text)
for i in s:
    Date.append(i.replace('\n',' ').strip()[:-10])

#extracting time
time=driver.find_elements_by_xpath("//span[@class='fixture__time']")
for i in time:
    Time.append(i.text)

In [11]:
driver.close()
#creating a dataframe
fixture=pd.DataFrame()
fixture['Match_Title']=Match_title
fixture['Series']=Series
fixture['Place']=Place
fixture['Date']=Date
fixture['Time']=Time
fixture

,Match_Title,Series,Place,Date,Time
0,1st T20I,INDIA V ENGLAND 2021,"Narendra Modi Stadium, Ahmedabad",Friday 12 MARCH,19:00 IST
1,2nd T20I,INDIA V ENGLAND 2021,"Narendra Modi Stadium, Ahmedabad",Sunday 14 MARCH,19:00 IST
2,3rd T20I,INDIA V ENGLAND 2021,"Narendra Modi Stadium, Ahmedabad",Tuesday 16 MARCH,19:00 IST
3,4th T20I,INDIA V ENGLAND 2021,"Narendra Modi Stadium, Ahmedabad",Thursday 18 MARCH,19:00 IST
4,5th T20I,INDIA V ENGLAND 2021,"Narendra Modi Stadium, Ahmedabad",Saturday 20 MARCH,19:00 IST
5,1st ODI,INDIA V ENGLAND 2021,"Maharashtra Cricket Association Stadium, Pune",Tuesday 23 MARCH,13:30 IST
6,2nd ODI,INDIA V ENGLAND 2021,"Maharashtra Cricket Association Stadium, Pune",Friday 26 MARCH,13:30 IST
7,3rd ODI,INDIA V ENGLAND 2021,"Maharashtra Cricket Association Stadium, Pune",Sunday 28 MARCH,13:30 IST
8,1st Test,ENGLAND V INDIA 2021,"Trent Bridge, Nottingham",Wednesday 04 AUGUST,15:30 IST
9,2nd Test,ENGLAND V INDIA 2021,"Lord's, London",Thursday 12 AUGUST,15:30 IST
10,3rd Test,ENGLAND V INDIA 2021,"Headingley, Leeds",Wednesday 25 AUGUST,15:30 IST
11,4th Test,ENGLAND V INDIA 2021,"The Oval, London",Thursday 02 SEPTEMBER,15:30 IST
12,5th Test,ENGLAND V INDIA 2021,"Old Trafford, Manchester",Friday 10 SEPTEMBER,15:30 IST

### 3. Scrape the details of selenium exception from guru99.com

In [12]:
#first connecting to the webdriver
driver=webdriver.Chrome("chromedriver.exe")
url=('https://www.guru99.com/')
driver.get(url)
T.sleep(2)
#selecting the drop-down
drop_down=driver.find_element_by_xpath("//nav[@class='g-main-nav']/ul[1]/li[2]")
drop_down.click()
drop_down.click()
element=driver.find_element_by_xpath("//li[@class='g-menu-item g-menu-item-type-component g-menu-item-121  ']/a[1]")
element.click()
T.sleep(2)
#navigating to exception page
page=driver.find_element_by_xpath("//a[@title='Selenium Exception Handling (Common Exceptions List)']")
page.click()

In [13]:
#extracting the table
table=driver.find_element_by_xpath("//table[@class='table table-striped']")
#estimating the length of the rows
rows = len(driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr"))
T.sleep(2)
# creating lists
Name=[]
Description=[]
for i in range(1,rows):
    r=table.text.split('\n')[i].strip()
    Name.append(r.split(' ')[0])
    Description.append(' '.join(r.split(' ')[1:]))

In [14]:
#closing the driver
driver.close()
#creating a dataframe
Exceptions=pd.DataFrame()
Exceptions['Name']=Name
Exceptions['Description']=Description
Exceptions

,Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can't be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

### 4. Scrape the details of State-wise GDP of India from statisticstime.com.

In [15]:
#first connecting to the webdriver
driver=webdriver.Chrome("chromedriver.exe")
url=('http://statisticstimes.com/')
driver.get(url)
T.sleep(2)
drop_down=driver.find_element_by_xpath("//div[@class='navbar']/div[2]/button")
drop_down.click()
page=driver.find_element_by_xpath("//div[@class='dropdown-content']/a[3]")
page.click()
gdp_page=driver.find_element_by_xpath("//div[@style='float:left;background-color:seashell;width:400px;height:800px;']/ul[1]/li[1]")
gdp_page.click()

In [16]:
Rank=[]
State=[]
GSDP_19_20=[]
GSDP_18_19=[]
Share=[]
GDP=[]
#extracting the table
table=driver.find_element_by_xpath("//table[@id='table_id']")
#creating variables for xpath location
before_XPath = "//*[@id='table_id']/tbody/tr["            #xpath to access every rows
aftertd_XPath_1 = "]/td[1]"                                                   #xpath to access column1                                                  
aftertd_XPath_2 = "]/td[2]"                                                   #xpath to access column2
aftertd_XPath_3 = "]/td[3]"                                                   #xpath to access column3
aftertd_XPath_4 = "]/td[4]"                                                   #xpath to access column4
aftertd_XPath_5 = "]/td[5]"                                                   #xpath to access column5
aftertd_XPath_6 = "]/td[6]"                                                   #xpath to access column6
rows = len(driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr"))
columns = len(driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr[1]/td"))
print(rows," ", columns)

33   8

In [17]:
#extracting the details for rank
for row in range (1,(rows+1)):
    FinalXPath = before_XPath + str(row) + aftertd_XPath_1
    column_1=driver.find_element_by_xpath(FinalXPath).text
    Rank.append(column_1)

#extracting the details for state
for row in range (1,(rows+1)):
    FinalXPath = before_XPath + str(row) + aftertd_XPath_2
    column_2=driver.find_element_by_xpath(FinalXPath).text
    State.append(column_2)

#extracting the details for GSDP 19-20
for row in range (1,(rows+1)):
    FinalXPath = before_XPath + str(row) + aftertd_XPath_3
    column_3=driver.find_element_by_xpath(FinalXPath).text
    GSDP_19_20.append(column_3)

#extracting the details for GSDP 18-19
for row in range (1,(rows+1)):
    FinalXPath = before_XPath + str(row) + aftertd_XPath_4
    column_4=driver.find_element_by_xpath(FinalXPath).text
    GSDP_18_19.append(column_4)

#extracting the details for share
for row in range (1,(rows+1)):
    FinalXPath = before_XPath + str(row) + aftertd_XPath_5
    column_5=driver.find_element_by_xpath(FinalXPath).text
    Share.append(column_5)
    
#extracting the details for GDP
for row in range (1,(rows+1)):
    FinalXPath = before_XPath + str(row) + aftertd_XPath_6
    column_6=driver.find_element_by_xpath(FinalXPath).text
    GDP.append(column_6)

In [18]:
driver.close()
#creating a dataframe
GDP_states=pd.DataFrame()
GDP_states['Rank']=Rank
GDP_states['State']=State
GDP_states['GSDP 19-20']=GSDP_19_20
GDP_states['GSDP 18-19']=GSDP_18_19
GDP_states['Share']=Share
GDP_states['GDP']=GDP
GDP_states

   Rank                      State GSDP 19-20 GSDP 18-19   Share      GDP
0     1                Maharashtra          -  2,632,792  13.88%  398.145
1     2                 Tamil Nadu  1,845,853  1,630,208   8.59%  246.529
2     3              Uttar Pradesh  1,687,818  1,584,764   8.35%  239.656
3     4                    Gujarat          -  1,502,899   7.92%  227.276
4     5                  Karnataka  1,631,977  1,493,127   7.87%  225.798
5     6                West Bengal  1,253,832  1,089,898   5.75%  164.820
6     7                  Rajasthan  1,020,989    942,586   4.97%  142.543
7     8             Andhra Pradesh    972,782    862,957   4.55%  130.501
8     9                  Telangana    969,604    861,031   4.54%  130.210
9    10             Madhya Pradesh    906,672    809,592   4.27%  122.431
10   11                     Kerala          -    781,653   4.12%  118.206
11   12                      Delhi    856,112    774,870   4.08%  117.180
12   13                    Haryana    831,610    734,163   3.87%  111.024
13   14                      Bihar    611,804    530,363   2.80%   80.204
14   15                     Punjab    574,760    526,376   2.77%   79.601
15   16                     Odisha    521,275    487,805   2.57%   73.768
16   17                      Assam          -    315,881   1.67%   47.769
17   18               Chhattisgarh    329,180    304,063   1.60%   45.982
18   19                  Jharkhand    328,598    297,204   1.57%   44.945
19   20                Uttarakhand          -    245,895   1.30%   37.186
20   21            Jammu & Kashmir          -    155,956   0.82%   23.584
21   22           Himachal Pradesh    165,472    153,845   0.81%   23.265
22   23                        Goa     80,449     73,170   0.39%   11.065
23   24                    Tripura     55,984     49,845   0.26%    7.538
24   25                 Chandigarh          -     42,114   0.22%    6.369
25   26                 Puducherry     38,253     34,433   0.18%    5.207
26   27                  Meghalaya     36,572     33,481   0.18%    5.063
27   28                     Sikkim     32,496     28,723   0.15%    4.344
28   29                    Manipur     31,790     27,870   0.15%    4.215
29   30                   Nagaland          -     27,283   0.14%    4.126
30   31          Arunachal Pradesh          -     24,603   0.13%    3.721
31   32                    Mizoram     26,503     22,287   0.12%    3.370
32   33  Andaman & Nicobar Islands          -          -       -        -

### 5. Scrape the details of trending repositories on Github.com

In [19]:
#first connecting to the webdriver
driver=webdriver.Chrome("chromedriver.exe")
url=('https://github.com/')
driver.get(url)
T.sleep(2)
driver.maximize_window()
drop_down=driver.find_element_by_xpath("//ul[@class='d-lg-flex list-style-none']/li[4]")
drop_down.click()
page=driver.find_element_by_xpath("//ul[@class='list-style-none mb-3']/li[3]/a")
page.click()

In [20]:
Title=[]
Description=[]
Count=[]
Language=[]

#extracting title
title=driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']/a")
for i in title:
    Title.append(i.text)
    
#extracting description
x_path1="//div[@class='Box']/div[2]/article["
x_path2="]/p"
boxes=len(driver.find_elements_by_xpath("//div[@class='Box']/div[2]/article"))
for i in range(1,(boxes+1)):
    try:
        description=driver.find_element_by_xpath(x_path1 +str(i)+ x_path2).text
        Description.append(description)
    except NoSuchElementException as e:
        Description.append("-")

#extracting language
Xpath_1="//div[@class='Box']/div[2]/article["
Xpath_2="]/div[2]/span[1]/span[2]"
boxes=len(driver.find_elements_by_xpath("//div[@class='Box']/div[2]/article"))
for i in range(1,(boxes+1)):
    try:
        language=driver.find_element_by_xpath(Xpath_1 + str(i) + Xpath_2).text
        Language.append(language)
    except NoSuchElementException as e:
        Language.append("-")
Language

#extracting count
XPATH_1="//div[@class='Box']/div[2]/article["
XPATH_2="]/div[2]/span[2]/a"
XPATH_3="]/div[2]/span[1]/a"
boxes=len(driver.find_elements_by_xpath("//div[@class='Box']/div[2]/article"))
for i in range(1,(boxes+1)):
    try:
        driver.find_element_by_xpath( XPATH_1 +str(i)+ XPATH_2)
        count=len(driver.find_elements_by_xpath( XPATH_1 +str(i)+ XPATH_2))
        Count.append(count)
    except NoSuchElementException as e:
        count=len(driver.find_elements_by_xpath( XPATH_1 +str(i)+ XPATH_3))
        Count.append(count)

In [21]:
driver.close()
#creating a dataframe
Repositories=pd.DataFrame()
Repositories['Repository Title']=Title
Repositories['Repository description']=Description
Repositories['Language used']=Language
Repositories['Contributors count']=Count
Repositories

,Repository Title,Repository description,Language used,Contributors count
0,getzola / zola,A fast static site generator in a single binar...,Rust,5
1,dolthub / dolt,Dolt – It's Git for Data,Go,5
2,nushell / nushell,A new type of shell,Rust,5
3,torvalds / linux,Linux kernel source tree,C,0
4,openai / CLIP,Contrastive Language-Image Pretraining,Jupyter Notebook,3
5,coolsnowwolf / lede,Lean's OpenWrt source,C,5
6,jhu-ep-coursera / fullstack-course4,"Example code for HTML, CSS, and Javascript for...",JavaScript,5
7,sherlock-project / sherlock,🔎 Hunt down social media accounts by username ...,Python,5
8,git / git,Git Source Code Mirror - This is a publish-onl...,C,5
9,projectdiscovery / nuclei-templates,Community curated list of templates for the nu...,Python,5
10,dwisiswant0 / apkleaks,"Scanning APK file for URIs, endpoints & secrets.",Python,3
11,SmartThingsCommunity / SmartThingsPublic,SmartThings open-source DeviceTypeHandlers and...,Groovy,5
12,microsoft / CSS-Exchange,Exchange Server support tools and scripts,PowerShell,5
13,nodegui / svelte-nodegui,"Build performant, native and cross-platform de...",TypeScript,5
14,thunlp / GNNPapers,Must-read papers on graph neural networks (GNN),-,5
15,TheAlgorithms / Javascript,A repository for All algorithms implemented in...,JavaScript,5
16,flutter / flutter,Flutter makes it easy and fast to build beauti...,Dart,5
17,qmk / qmk_firmware,Open-source keyboard firmware for Atmel AVR an...,C,5
18,enaqx / awesome-react,A collection of awesome things regarding React...,-,5
19,microsoft / vscode,Visual Studio Code,TypeScript,5
20,Anuken / Mindustry,A sandbox tower defense game,Java,5
21,visenger / awesome-mlops,A curated list of references for MLOps,-,5
22,brillout / awesome-react-components,Curated List of React Components & Libraries.,-,5
23,ninechapter-algorithm / linghu-algorithm-templete,-,-,2
24,ethereum / EIPs,The Ethereum Improvement Proposal repository,Solidity,5

### 6. Scrape the details of top 100 songs on billiboard.com.

In [22]:
#first connecting to the webdriver
driver=webdriver.Chrome("chromedriver.exe")
url=('https://www.billboard.com/')
driver.get(url)
T.sleep(2)
page=driver.find_element_by_xpath("//ul[@class='header__subnav__list display--flex flex--left-center flex-md--center-center']/li[3]")
page.click()

In [23]:
Rank=[]
Song=[]
Artist=[]
Last_week=[]
Peak_rank=[]
Weeks=[]

#extracting rank
rank=driver.find_elements_by_xpath("//span[@class='chart-element__rank__number']")
for i in rank:
    Rank.append(i.text)

#extracting song name
song=driver.find_elements_by_xpath("//span[@class='chart-element__information__song text--truncate color--primary']")
for i in song:
    Song.append(i.text)

#extracting artist name
artist=driver.find_elements_by_xpath("//span[@class='chart-element__information__artist text--truncate color--secondary']")
for i in artist:
    Artist.append(i.text)

#extracting last weeks rank
last=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--last']")
for i in last:
    Last_week.append(i.text)

#extracting peak rank
peak=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--peak']")
for i in peak:
    Peak_rank.append(i.text)

#extracting weeks on board
weeks=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--week']")
for i in weeks:
    Weeks.append(i.text)

In [24]:
driver.close()
#creating a dataframe
Songs=pd.DataFrame()
Songs['Rank']=Rank
Songs['Song name']=Song
Songs['Artist name']=Artist
Songs['Last week rank']=Last_week
Songs['Peak rank']=Peak_rank
Songs['Weeks on board']=Weeks
Songs

,Rank,Song name,Artist name,Last week rank,Peak rank,Weeks on board
0,1,Drivers License,Olivia Rodrigo,1,1,7
1,2,Up,Cardi B,5,2,3
2,3,Go Crazy,Chris Brown & Young Thug,8,3,42
3,4,34+35,Ariana Grande,2,2,17
4,5,Blinding Lights,The Weeknd,4,1,64
...,...,...,...,...,...,...
95,96,The Business,Tiesto,-,96,1
96,97,Hello,Pop Smoke Featuring A Boogie Wit da Hoodie,-,97,1
97,98,Monster,Shawn Mendes & Justin Bieber,91,8,14
98,99,Track Star,Mooski,-,99,1
99,100,Like I Want You,Giveon,95,95,2

### 7. Scrape the details of Data science recruiters from naukri.com.

In [25]:
#first connecting to the webdriver
driver=webdriver.Chrome("chromedriver.exe")
url=('https://www.naukri.com/')
driver.get(url)
T.sleep(2)
#searching page
recruiters=driver.find_element_by_xpath("//a[@title='Search Recruiters']")
page=recruiters.get_attribute('href')
driver.get(page)
T.sleep(2)
#searching the element in the search box
search_jobs=driver.find_element_by_xpath("//input[@class='sugInp']")
search_jobs.send_keys("Data Science")
search_btn=driver.find_element_by_xpath("//button[@id='qsbFormBtn']")
search_btn.click()

In [26]:
Name=[]
Designation=[]
Company=[]
Skills_required=[]
Location=[]

#extracting name
name=driver.find_elements_by_xpath("//span[@class='fl ellipsis']")
for i in name:
    Name.append(i.text)

#extracting designation
designation=driver.find_elements_by_xpath("//span[@class='ellipsis clr']")
for i in designation:
    Designation.append(i.text)

#extracting company name
company=driver.find_elements_by_xpath("//a[@class='ellipsis']")
for i in company:
    Company.append(i.text)
Company=Company[1:101:2]

#extracting skills hired
skills=driver.find_elements_by_xpath("//div[@class='hireSec highlightable']")
for i in skills:
    Skills_required.append(i.text)

#extracting location
Xpath_1="//div[@id='tabP-1']/div["
Xpath_2="]/div["
Xpath_3="]/div[1]/div[1]/p[1]/span[2]/small"
boxes=len(driver.find_elements_by_xpath("//p[@class='highlightable']"))
for i in range(1,(int(boxes/2)+1)):
    for j in range(1,3):
        try:
            location=driver.find_element_by_xpath(Xpath_1+str(i)+Xpath_2+str(j)+Xpath_3).text
            Location.append(location)
        except NoSuchElementException as e:
            Location.append("-")

In [27]:
driver.close()
#creating a dataframe
Jobs=pd.DataFrame()
Jobs['Name']=Name
Jobs['Designation']=Designation
Jobs['Company Name']=Company
Jobs['Skills hired for']=Skills_required
Jobs['Location']=Location
Jobs

,Name,Designation,Company Name,Skills hired for,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,Talent Acquisition Executive,Recruitment Professional,XenonStack,"Web Designing, html5, Angular.js, seo, hadoop,...",Chandigarh
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
5,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
6,Jitendra Singh,Manager- Talent Acquisition,Compunnel Technology India Pvt. Ltd,"Python, Data Science, .Net, Java, Big Data, Da...",Delhi
7,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
8,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
9,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
10,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
11,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
12,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
13,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
14,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
15,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
16,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
17,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
18,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
19,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
20,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
21,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
22,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
23,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
24,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
25,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Bengaluru / Bangalore
26,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
27,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
28,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",-
29,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Delhi
30,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Mysoru / Mysore
31,Prateek Kumar,Head,Trisect,"Java, Python, Angularjs, Software Testing, Mac...",Noida
32,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",New Delhi
33,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Chennai
34,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Aligarh
35,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Salt Lake City
36,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Pune
37,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Bengaluru / Bangalore
38,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Mumbai
39,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Indore
40,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",Bengaluru / Bangalore
41,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",MYSORE
42,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Hyderabad / Secunderabad
43,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Bengaluru / Bangalore
44,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Mumbai
45,Amir Chowdhury,Managing Partner,Granular.ai,"Machine Learning, Data Science, Product Manage...",-
46,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Machine Learning, Big Data Analy...",Hyderabad / Secunderabad
47,Shailja Mishra,HR Manager,Certybox Pvt.Ltd.,"consulting, Education Counseling, Educational ...",Noida
48,Sunny Sharma,Managing Director - HR,Western Service Providers,"Software Professionals, Engineering, Technical...",Mumbai
49,Sagar Lama,Company HR Manager,AdView,"Full Stack Developers, Product Manager, Data S...",Bengaluru / Bangalore

### 8. Scrape the details of Highest selling novels.

In [28]:
#first connecting to the webdriver
driver=webdriver.Chrome("chromedriver.exe")
url=('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')
driver.get(url)
T.sleep(2)

In [29]:
Book_name=[]
Author_name=[]
Volumes_sold=[]
Publisher=[]
Genre=[]

#creating variables for xpath location
before_XPath = "//table[@class='in-article sortable']/tbody/tr["
aftertd_XPath_1 = "]/td[2]"
aftertd_XPath_2 = "]/td[3]"
aftertd_XPath_3 = "]/td[4]"
aftertd_XPath_4 = "]/td[5]"
aftertd_XPath_5 = "]/td[6]"

rows=len(driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr"))

#extracting book name
for row in range (1,(rows+1)):
    FinalXPath = before_XPath + str(row) + aftertd_XPath_1
    column_1=driver.find_element_by_xpath(FinalXPath).text
    Book_name.append(column_1)

#extracting author name
for row in range (1,(rows+1)):
    FinalXPath = before_XPath + str(row) + aftertd_XPath_2
    column_2=driver.find_element_by_xpath(FinalXPath).text
    Author_name.append(column_2)

#extracting volumes sold
for row in range (1,(rows+1)):
    FinalXPath = before_XPath + str(row) + aftertd_XPath_3
    column_3=driver.find_element_by_xpath(FinalXPath).text
    Volumes_sold.append(column_3)

#extracting publisher details
for row in range (1,(rows+1)):
    FinalXPath = before_XPath + str(row) + aftertd_XPath_4
    column_4=driver.find_element_by_xpath(FinalXPath).text
    Publisher.append(column_4)

#extracting Genre
for row in range (1,(rows+1)):
    FinalXPath = before_XPath + str(row) + aftertd_XPath_5
    column_5=driver.find_element_by_xpath(FinalXPath).text
    Genre.append(column_5)

In [30]:
driver.close()
#creating a dataframe
Books=pd.DataFrame()
Books['Book name']=Book_name
Books['Author name']=Author_name
Books['Volumes sold']=Volumes_sold
Books['Publisher']=Publisher
Books['Genre']=Genre
Books

,Book name,Author name,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

### 9. Scrape the details most watched tv series of all time from imdb.com.

In [31]:
#first connecting to the webdriver
driver=webdriver.Chrome("chromedriver.exe")
url=('https://www.imdb.com/list/ls095964455/')
driver.get(url)
T.sleep(2)

In [32]:
Name=[]
Year_span=[]
Genre=[]
Run_time=[]
Ratings=[]
Votes=[]

#extracting name
name=driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a")
for i in name:
    Name.append(i.text)

#extracting year span
yr_span=driver.find_elements_by_xpath("//span[@class='lister-item-year text-muted unbold']")
for i in yr_span:
    Year_span.append(i.text)

#extracting genre
genre=driver.find_elements_by_xpath("//span[@class='genre']")
for i in genre:
    Genre.append(i.text)

#extracting run time
run_time=driver.find_elements_by_xpath("//span[@class='runtime']")
for i in run_time:
    Run_time.append(i.text)

#extracting ratings
ratings=driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']/span[2]")
for i in ratings:
    Ratings.append(i.text)

#extracting votes
votes=driver.find_elements_by_xpath("//span[@name='nv']")
for i in votes:
    Votes.append(i.text)

In [33]:
driver.close()
#creating a dataframe
Shows=pd.DataFrame()
Shows['Name']=Name
Shows['Year span']=Year_span
Shows['Genre']=Genre
Shows['Run time']=Run_time
Shows['Ratings']=Ratings
Shows['Votes']=Votes
Shows

,Name,Year span,Genre,Run time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.3,"1,778,972"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"829,490"
2,The Walking Dead,(2010– ),"Drama, Horror, Thriller",44 min,8.2,"857,104"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"257,301"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"217,860"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"43,783"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"54,119"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"162,349"
98,Scream: The TV Series,(2015–2019),"Crime, Drama, Horror",45 min,7.2,"34,211"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"184,031"

### 10. Details of Datasets from UCI machine learning repositories.

In [34]:
#first connecting to the webdriver
driver=webdriver.Chrome("chromedriver.exe")
url=('https://archive.ics.uci.edu/')
driver.get(url)
T.sleep(2)
page=driver.find_element_by_xpath("//table[@bgcolor='#003366']/tbody/tr/td[2]/span[2]")
page.click()

In [35]:
Name=[]
Data_type=[]
Task=[]
Attribute_type=[]
No_of_instances=[]
No_of_attribute=[]
Year=[]

#creating variables for xpath location
before_XPath = "//table[@border='1']/tbody/tr["
aftertd_XPath_1 = "]/td[1]"
aftertd_XPath_2 = "]/td[2]"
aftertd_XPath_3 = "]/td[3]"
aftertd_XPath_4 = "]/td[4]"
aftertd_XPath_5 = "]/td[5]"
aftertd_XPath_6 = "]/td[6]"
aftertd_XPath_7 = "]/td[7]"

rows=len(driver.find_elements_by_xpath("//table[@border='1']/tbody/tr"))

#extracting dataset name
for row in range (2,(rows+1)):
    FinalXPath = before_XPath + str(row) + aftertd_XPath_1
    column_1=driver.find_element_by_xpath(FinalXPath).text
    if column_1 is not None:
        Name.append(column_1)
    else:
        Name.append("-")

#extracting data type
for row in range (2,(rows+1)):
    FinalXPath = before_XPath + str(row) + aftertd_XPath_2
    column_2=driver.find_element_by_xpath(FinalXPath).text
    if column_2 is not None:
        Data_type.append(column_2)
    else:
        Data_type.append("-")

#extracting task
for row in range (2,(rows+1)):
    FinalXPath = before_XPath + str(row) + aftertd_XPath_3
    column_3=driver.find_element_by_xpath(FinalXPath).text
    if column_3 is not None:
        Task.append(column_3)
    else:
        Task.append("-")

#extracting Attribute type
for row in range (2,(rows+1)):
    FinalXPath = before_XPath + str(row) + aftertd_XPath_4
    column_4=driver.find_element_by_xpath(FinalXPath).text
    if column_4 is not None:
        Attribute_type.append(column_4)
    else:
        Attribute_type.append("-")

#extracting number of instances
for row in range (2,(rows+1)):
    FinalXPath = before_XPath + str(row) + aftertd_XPath_5
    column_5=driver.find_element_by_xpath(FinalXPath).text
    if column_5 is not None:
        No_of_instances.append(column_5)
    else:
        No_of_instances.append("-")

#extracting number of attributes
for row in range (2,(rows+1)):
    FinalXPath = before_XPath + str(row) + aftertd_XPath_6
    column_6=driver.find_element_by_xpath(FinalXPath).text
    if column_6 is not None:
        No_of_attribute.append(column_6)
    else:
        No_of_attribute.append("-")

#extracting year
for row in range (2,(rows+1)):
    FinalXPath = before_XPath + str(row) + aftertd_XPath_7
    column_7=driver.find_element_by_xpath(FinalXPath).text
    if column_7 is not None:
        Year.append(column_7)
    else:
        Year.append("-")

In [36]:
driver.close()
#creating a dataframe
Datasets=pd.DataFrame()
Datasets['Dataset name']=Name
Datasets['Data type']=Data_type
Datasets['Task']=Task
Datasets['Attribute type']=Attribute_type
Datasets['No of instances']=No_of_instances
Datasets['No of attribute']=No_of_attribute
Datasets['Year']=No_of_attribute
Datasets

,Dataset name,Data type,Task,Attribute type,No of instances,No of attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,8
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,14
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,38
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,294
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,279
...,...,...,...,...,...,...,...
580,Wisesight Sentiment Corpus,"Multivariate, Text",Classification,,26737,4,4
581,AI4I 2020 Predictive Maintenance Dataset,"Multivariate, Time-Series","Classification, Regression, Causal-Discovery",Real,10000,14,14
582,Dry Bean Dataset,Multivariate,Classification,"Integer, Real",13611,17,17
583,in-vehicle coupon recommendation,Multivariate,Classification,,12684,23,23
584,Gait Classification,Multivariate,Classification,Real,48,321,321

## END OF FILE